.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  &_group { margin: 1rem 0; }

  &_login,
  &_password {
    font-family: var(--font-default);
    font-size: $medium-font-size;
    padding: 1rem 2rem;
    border: none;
    width: 100%;
    cursor: pointer;

    &:focus {
      outline: none;
      box-shadow: 0 0 .5rem 2px var(--color-primary), 0 0 1rem 2px var(--color-primary);
      transition: all .2s linear;
    }

    &-label {
      display: block;
      text-align: left;
      transform: translate(2.2rem, .5rem);
      font-family: var(--font-default);
      font-size: $medium-font-size;
      color: $color-secondary--text;
      opacity: 1;
      visibility: visible;
      transition: all .3s linear;
    }
  }

  &_login:placeholder-shown + &_login-label,
  &_password:placeholder-shown + &_password-label {
    transform: translate(2.2rem, -2rem);
    opacity: 0;
    visibility: hidden;
  }

  &_login--valid,
  &_login--valid:focus,
  &_password--valid,
  &_password--valid:focus { background-color: var(--color-primary); }

  &_login--invalid,
  &_login--invalid:focus,
  &_password--invalid,
  &_password--invalid:focus { background-color: lighten($color-warning, 20%); }
}


