.button {
  font-family: inherit;
  font-size: $medium-font-size;
  font-weight: bold;
  margin: 1rem 0;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 2px solid $color-primary;
  box-shadow: 0 0 .5rem 2px $color-primary, 0 0 1rem 2px $color-primary;
  transition: all .2s linear;

  &:focus,
  &:active {
    outline: none;
    background-color: $color-primary;
    color: $color-white;
    transition: all .2s linear;
  }
  &:active { transform: translateY(2px); }

  &:disabled {
    border: 2px solid transparent;
    box-shadow: 0 0 0 1.5rem transparent;
    animation: none;
  }
  // transition: transform .2s linear;

  // &:hover {
  //   transform: translateY(-2px);
  //   transition: transform .2s linear;
  // }
}

.pulse {
  animation: scaleUp 1s linear infinite;
  transition: all .2s linear;
}

.delete,
.edit {
  font-size: $small-font-size;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 0 1rem transparent, 0 0 1rem 2px $color-secondary--light;
  border: 2px solid transparent;

  &:focus,
  &:active {
    background-color: $color-white;
    color: $color-secondary;
  }
}

.delete {
  &:focus,
  &:active { box-shadow: 0 0 .5rem 2px $color-warning, 0 0 1rem 2px $color-warning; }
}

.edit {
  &:focus,
  &:active { box-shadow: 0 0 .5rem 2px $color-primary, 0 0 1rem 2px $color-primary; }
}

.copy {
  border: none;
  animation: scaleAppear .5s ease-out 1.2s;
  animation-fill-mode: backwards;
}