.carousel {
  position: relative;
  display: flex;
  width: 90%;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    background: linear-gradient(to right, $color-secondary 0%, hsla(230, 21%, 5%, 0) 100%);
    z-index: 2;
  }

  &::before { left: 0; }
  &::after {
    right: 0;
    transform: rotateZ(180deg);
  }

  &_slider {
    display: flex;
    animation: slide 12s linear infinite, showUp 12s linear infinite;
    animation-fill-mode: backwards;

    & > * {
      height: 50vh;
      padding: 0 1.5rem;
    }
  }
}