.list_collection {
  position: relative;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: 1rem 2rem;

  &:not(:first-of-type) { margin-top: 1rem; }

  @include respond(tab-land) {
    margin: 0 1rem 1rem 1rem;
    flex: 1 0 48%;

    &:nth-of-type(odd) {margin: 0 1rem 1rem 0}
    &:last-of-type {
      flex: 0 0 48%;
      margin: 1rem 0 0;
    }

    &:nth-of-type(even) {
      flex: 1 0 48%;
      margin: 0 0 1rem 1rem
    }
  }

  &:focus,
  &:active,
  &:hover {
    color: black;
    outline: none;
    cursor: pointer;
  }

  &_name { letter-spacing: .3rem; }

  &_icon {
    position: absolute;
    right: 0;
    padding: .5rem;
    background-color: transparent;
    border: none;

    &:focus,
    &:active,
    &:hover {
      color: $color-white;
      outline: none;
      cursor: pointer;
    }

    &--edit { bottom: 0; }
    &--add {
      font-size: 2rem;
      left: 0;
      bottom: 0;
    }
    &--delete {
      top: 0;

      &:focus,
      &:active,
      &:hover { color: $color-warning; }
    }
  }
}