.list_collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 1rem .5rem;

  &:not(:first-of-type) { margin-top: 1rem; }

  @include respond(tab-land) {
    margin: 0 1rem 1rem 1rem;
    flex: 1 0 48%;

    &:nth-of-type(odd) {margin: 0 1rem 1rem 0}
    &:last-of-type {
      flex: 0 0 48%;
      margin: 1rem 0 0;
    }

    &:nth-of-type(even) {
      flex: 1 0 48%;
      margin: 0 0 1rem 1rem
    }
  }

  &:focus,
  &:active,
  &:hover {
    color: black;
    outline: none;
    cursor: pointer;
  }

  &_name {
    flex: 1 1 50%;
    letter-spacing: .3rem;
  }

  &_button {
    display: flex;
    // justify-content: center;
    flex: 1 1 0;
    font-size: 1.5rem;
    font-family: inherit;
    background-color: transparent;
    border: none;

    &:focus,
    &:active,
    &:hover {
      color: $color-white;
      outline: none;
      cursor: pointer;
    }

    &--add { font-size: 3.5rem; }
    &--copy {
      background-color: $color-white;
      padding: .5rem 1rem;
    }
  }
}