.createCollectionButton {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: inherit;
  font-size: $medium-font-size;
  letter-spacing: .2rem;
  width: 22rem;
  min-width: 184px;
  max-width: 80%;
  margin: 1rem 0;
  height: 10rem;
  color: #000;
  background-color: $color-white;
  text-transform: capitalize;
  padding: 0;
  cursor: pointer;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    background-color: var(--color-primary);
    color: #000;
    transition: all .3s;
  }

  &:focus .button_label,
  &:active .button_label,
  &:hover .button_label { color: var(--color-primary); }

  &:focus &_action:not(:disabled),
  &:active &_action:not(:disabled),
  &:hover &_action:not(:disabled) { color: $color-white; }

  &_description,
  &_action,
  &_input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &_action {
    position: relative;
    flex: 0 0 40%;
    justify-content: space-around;
    padding: 0 1.5rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
    letter-spacing: .2rem;
    background-color: var(--color-primary);
    cursor: inherit;
    transition: all .3s;

    &:disabled { cursor: not-allowed; }

    &:focus,
    &:active,
    &:hover { color: $color-white; }
  }

  &_description,
  &_input {
    height: 100%;
    flex: 0 0 60%;
    padding: 0 .5rem;
    background-color: $color-white;
  }

  &_input {
    border: none;
    font-family: var(--font-default);
    font-size: $medium-font-size;
    text-align: center;

    &:focus {
      outline: none;
      box-shadow: 0 0 1rem 5px var(--color-primary) inset;
    }
  }
}
