.itemsInCollection {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-51.5%, -50%);
  display: flex;
  flex-direction: column;
  width: 70vw;
  min-width: 28rem;
  max-height: 75vh;
  background-color: $color-black;
  border-top: 4px solid var(--color-primary);
  border-left: 4px solid var(--color-primary);
  color: $color-black;
  z-index: 2;
  opacity: 0;
  animation: appear .6s;
  animation-fill-mode: forwards;

  @include respond(tab-land) { min-width: 80vw; }

  &_title {
    position: relative;
    letter-spacing: 3px;
    padding: 1rem 0;
    background: linear-gradient(to right, var(--color-primary) 0%, $color-white 100%);
  }

  &_list {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 1rem;
    margin-bottom: 6.5rem;

    @include respond(tab-port) { margin-bottom: 4.6rem; }
    @include respond(tab-land) { flex-flow: row wrap; }
  }

  &_copyButton {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: unset;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    margin: 0;
    padding: .8rem 1.7rem;
    transition: opacity .3s;

    &:not(:disabled):focus,
    &:not(:disabled):active,
    &:not(:disabled):hover { color: $color-white; }

    @include respond(tab-port) { height: auto; }
    @include respond(tab-land) {
      max-width: 60%;
      left: 50%;
      transform: translateX(-50%);
    }
    @include respond(desktop) { max-width: 50%; }

    &-icon {
      font-size: $huge-font-size;
      display: flex;
      margin-right: 1rem;
    }
  }

  &_dots-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    font-size: $huge-font-size;
    cursor: pointer;
    padding: .6rem;
  }

  &_emptySpan {
    color: $color-white;
    width: 100%;
  }

  &_backdrop,
  &_menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &_backdrop {
    width: 100%;
    height: 100%;
  }

  &_menu {
    background-color: black;
    display: flex;
    flex-direction: column;
  }

  &_menuButton {
    margin: auto;
    padding: 1rem 1.7rem;
    background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 70%, $color-white 100%);

    &:not(:disabled):focus,
    &:not(:disabled):active,
    &:not(:disabled):hover {
      background-color: inherit;
      color: $color-white;
    }
  }
}

[data-theme="cyber"] {
  .itemsInCollection {
    border-top: 4px solid darken($color-warning, 35%);
    border-left: 4px solid darken($color-warning, 35%);
    color: $color-white;

    &_title,
    &_menuButton {
      background: linear-gradient(to right, darken($color-warning, 35%) 0%, darken($color-warning, 35%) 30%, $color-black 100%);
      text-transform: uppercase;
    }

    &_menuButton {
      color: inherit;

      &:not(:disabled):focus,
      &:not(:disabled):active,
      &:not(:disabled):hover { color: var(--color-primary); }
    }

    &_copyButton {
      background-color: $color-black;
      color: var(--color-secondary);

      &:not(:disabled):focus,
      &:not(:disabled):active,
      &:not(:disabled):hover {
        background-color: $color-black;
        color: var(--color-primary);
      }

      & .button_glitch {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: block;
        animation: glitch-effect 2s infinite;
      }
    }
  }
}