.itemsAvailable {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-51.5%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  max-height: 80vh;
  background-color: $color-white;
  border-top: 4px solid var(--color-primary);
  border-left: 4px solid var(--color-primary);
  color: $color-black;
  z-index: 2;
  opacity: 0;
  animation: appear .6s;
  animation-fill-mode: forwards;

  @include respond(tab-port) { min-width: 60vw; }

  &_list {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 6.5rem;

    @include respond(tab-port) {
      flex-flow: row wrap;
      margin-bottom: 5.5rem;
    }
  }

  &_title {
    flex: 1 0 100%;
    letter-spacing: 2px;
    padding: .5rem 0;
    background: linear-gradient(to right, var(--color-primary) 0%, $color-white 100%);
  }

  &_checkbox {
    opacity: 0;

    &:focus + span,
    &:hover + span {
      box-shadow: 0 0 0 .1rem $color-white, 0 0 .3rem .3rem var(--color-primary);
    }

    &:checked + span {
      background-color: var(--color-primary);
      border-color: $color-black;
    }
  }

  &_label {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    text-align: left;

    @include respond(tab-port) {
      flex: 0 0 50%;
    }

    @include respond(desktop) {
      flex: 0 0 33.3%;
    }
  }

  &_control {
    display: inline-block;
    cursor: pointer;
    min-width: 1.2rem;
    height: 1.2rem;
    border: 1px solid currentColor;
    margin-right: 1rem;
    transition: all .3s;
  }

  &_button {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    margin: 0;
    padding: .8rem 1.7rem;

    &:not(:disabled):focus,
    &:not(:disabled):active,
    &:not(:disabled):hover { color: $color-white; }

    @include respond(tab-port) {
      left: 50%;
      transform: translateX(-50%);
    }

    &-icon {
      font-size: $huge-font-size;
      display: flex;
      margin-right: .5rem;
    }
  }

}

[data-theme="cyber"] {
  .itemsAvailable {
    border-top: 4px solid darken($color-warning, 35%);
    border-left: 4px solid darken($color-warning, 35%);

    &_title {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color-white;
      padding: .5rem;
      background: linear-gradient(to right, darken($color-warning, 35%) 0%, darken($color-warning, 35%) 20%, $color-black 100%);

      @include respond(tab-port) { padding: 1rem 0; }
    }

    &_button {
      background-color: $color-black;
      color: var(--color-secondary);

      &:focus,
      &:active,
      &:hover {
        background-color: $color-black;
        color: var(--color-primary);
      }
    }
  }
}
