.list {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 4.5rem;
  width: 100%;

  @include respond(tab-land) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &_item {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 0;
    box-shadow: 0 0 1rem 1px $color-secondary--light;

    &:not(:first-of-type) { margin-top: 1rem; }

    @include respond(tab-land) {
      margin: 0 1rem 1rem 1rem;
      flex: 1 0 48%;
      &:nth-of-type(odd) {margin: 0 1rem 1rem 0}
      &:nth-of-type(even) {margin: 0 0 1rem 1rem}
      &:last-of-type {
        flex: 0 0 48%;
        margin: 1rem 0 0;
      }
      // &:first-of-type{margin-left: 0;}

    }


    &-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 1 70%;

      &:first-child { margin: 0 1rem 0 0; }
      &:last-child { flex: 0 1 0; }
    }

    &-link:link,
    &-link:visited {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1 0 0;
      text-decoration: none;
      color: $color-primary;
      font-family: 'Yusei Magic', sans-serif;
      letter-spacing: 2px;
      padding: .5rem 1rem;
      box-shadow: 0 0 0 1.5rem transparent;
      border: 2px solid transparent;
      transition: all .2s linear;

      &:focus,
      &:active {
        outline: none;
        border: 2px solid $color-primary;
        box-shadow: inset 0 0 .5rem 2px $color-primary, 0 0 1rem 2px $color-primary;
       }
    }

    &-description {
      color: $color-white;
      font-size: $small-font-size;
    }
    &--edit { box-shadow: 0 0 1rem .5rem $color-primary; }
  }
}