.loadingPage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  animation: appear 2s linear;

  &::before {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    content: '';
    background: linear-gradient(to bottom right, $color-primary 0%, $color-secondary 100%);
    z-index: -1;

    @supports(-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
      clip-path: polygon(30% 0, 100% 55%, 50% 100%, 0 60%);
      -webkit-clip-path: polygon(30% 0, 100% 55%, 50% 100%, 0 60%);
    }
  }

  @supports(-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
    clip-path: polygon(30% 0, 100% 55%, 50% 100%, 0 60%);
    -webkit-clip-path: polygon(30% 0, 100% 55%, 50% 100%, 0 60%);
  }

  &-wrapper {
    width: 100%;
    background: linear-gradient(to bottom, darken($color-primary, 20%) 0%, lighten($color-secondary, 5%) 100%);
  }

  &-box {
    width: 30%;
    max-width: 15rem;
    margin-bottom: 2rem;
    animation: appear 2s linear .5s;
    animation-fill-mode: backwards;
  }

  &_logo { width: 100%; }
  &_spinner {
    position: relative;
    width: 30%;
    max-width: 15rem;
    height: 1rem;
    background: $color-white;
    margin-top: 2rem;
    overflow: hidden;

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 0;
      width: 10%;
      height: 100%;
      background: linear-gradient(to right, darken($color-primary, 10%) 0%, hsla(177, 40%, 45%, 0) 100%);
      z-index: 1;
    }

    &::before { left: 0; }
    &::after {
      right: 0;
      transform: rotate(180deg);
    }

    &-line {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: $color-primary;
      animation: slide 2s ease infinite;
      animation-fill-mode: backwards;
    }
  }
}