.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  display: flex;
  align-items: center;
  animation: appear 1.5s linear 1s;
  animation-fill-mode: backwards;

  &_img {
    width: 6rem;
    padding: 1rem;
    margin-right: 1rem;
  }

  &_title {
    letter-spacing: 6px;
    background: linear-gradient(0deg, rgba(69,162,158,1) 0%, rgba(255,255,255,1) 100%);
    font-style: italic;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}