.navigation {
  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &_link:link,
  &_link:visited {
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: $color-tertiary;
  }

  &_link:active,
  &_link.active { color: $color-primary; }

  // &_link:hover {
  //   border-bottom: 2px solid $color-primary;
  //   transition: all .3s linear;
  // }
}

