.navigation {
  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-land) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &_item {
    list-style: none;
    text-shadow: 2px 2px 6px var(--color-primary);
    cursor: pointer;
    text-transform: uppercase;
  }

  &_link:link,
  &_link:visited {
    display: inline-block;
    padding: .5rem .8rem;
    font-family: var(--font-default);
    font-size: $big-font-size;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    color: $color-white;
    letter-spacing: 3px;

    &:focus,
    &:hover {
      outline: none;
      border-bottom: 4px solid var(--color-primary);
      transition: all .3s linear;
    }

    @include respond(tab-land) { padding: 1rem 1.6rem; }
    @include respond(big-desktop) { font-size: $huge-font-size; }
  }

  &_link:active,
  &_link.active { color: var(--color-primary); }
}


#home,
#logout {
  animation: moveInUp .5s ease-out 1s;

  @include respond(tab-land) { animation-name: moveInDown; }
}
#logout {
  animation-delay: 1.3s;

  @include respond(tab-land) { animation-name: moveInLeft; }
}

#auth { animation: moveInLeft .5s ease-out 1.3s; }
#items { animation: moveInLeft .5s ease-out 1.6s; }

#home,
#logout,
#auth,
#items { animation-fill-mode: backwards; }
