.navigation {
  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_item {
    list-style: none;
    text-shadow: 2px 2px 6px $color-primary;
    cursor: pointer;
  }

  &_link:link,
  &_link:visited {
    display: inline-block;
    padding: .5rem .8rem;
    font-family: 'Yusei Magic', sans-serif;
    font-size: $big-font-size;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    color: $color-white;
    letter-spacing: 3px;

    &:focus {
      outline: none;
      border-bottom: 4px solid $color-primary;
    }
  }
  //media padding: 1rem 2rem;

  &_link:active,
  &_link.active { color: $color-primary; }

  // &_link:hover {
  //   border-bottom: 2px solid $color-primary;
  //   transition: all .3s linear;
  // }
}


#home,
#logout { animation: moveInUp .5s ease-out .6s; }
#logout { animation-delay: .9s; }

#auth { animation: moveInLeft .5s ease-out .9s; }
#items { animation: moveInLeft .5s ease-out .9s; }

#home,
#logout,
#auth,
#items { animation-fill-mode: backwards; }
