.items-form {
  width: 100%;
  &_group { margin: 1rem 0; }

  &_label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: $color-white;
    text-transform: capitalize;
  }

  &_input,
  &_textarea {
    font-family: 'Yusei Magic', sans-serif;
    font-size: $default-font-size;
    padding: 1rem 2rem;
    margin-top: .5rem;
    cursor: pointer;
    border: none;
    transition: all .2s linear;

    &:focus {
      outline: none;
      box-shadow: 0 0 .5rem 2px $color-primary, 0 0 1rem 2px $color-primary;
      transition: all .2s linear;
    }
  }
}