// Colors
$color-primary: #4CAF50;
$color-primary--text: #212121;
$color-secondary--text: #757575;
$color-secondary: #455A64;
$color-secondary--light: #708E99;

$color-white: #FFFFFF;
$color-warning: #930000;

// Fonts
$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$big-font-size: 2.3rem;
$huge-font-size: 3rem;
