// Colors
$color-primary--text: #212121;
$color-secondary--text: #C5C6C7;
$color-secondary: #0B0C10;
$color-secondary--light: #474D6C;

$color-white: #FFFFFF;
$color-warning: #930000;

// Fonts
$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$big-font-size: 2.3rem;
$huge-font-size: 3rem;

// $font-yusei: 'Yusei Magic', sans-serif;

:root {
  --color-primary: #45A29E;
  --color-primary-dark: #265957;
  --font-default: 'Montserrat', sans-serif;
}

[data-theme="cyber"] {
  --color-primary: #FCEE09;
  --color-primary-dark: #696302;
  --font-default: 'Tomorrow', sans-serif;
}













