body {
  font-family: $font-montserrat;
  font-size: $default-font-size;
  color: $color-white;
  background-color: $color-secondary;
}

a,
p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.page-heading {
  font-family: $font-yusei;
  font-size: $huge-font-size;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 4px;
  color: $color-white;
  text-shadow: 2px 2px 4px $color-primary;

  &--auth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2rem;
  }

  &--loading { padding: 0 3rem; }
}

.error {
  border: 4px solid $color-warning;
  padding: .5rem 1rem;
  color: $color-white;
  font-size: $big-font-size;
  font-weight: bold;
}