body {
  font-family: 'Montserrat', sans-serif;
  font-size: $default-font-size;
  color: $color-primary;
  background-color: $color-secondary;
}

.page-heading {
  font-family: 'Yusei Magic', sans-serif;
  font-size: $huge-font-size;
  text-transform: uppercase;
  letter-spacing: .2rem;
}