body {
  font-family: $font-montserrat;
  font-size: $default-font-size;
  color: $color-white;
  background-color: $color-secondary;
}

a,
p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.page-heading {
  font-family: $font-yusei;
  font-size: $huge-font-size;
  text-transform: capitalize;
  letter-spacing: .2rem;
  color: $color-white;
}

.error {
  border: 4px solid $color-warning;
  padding: .5rem 1rem;
  color: $color-white;
  font-size: $big-font-size;
  font-weight: bold;
}